@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAV BAR */

li, a, button {
    font-family: "Monyserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20%;
    background-color: rgba(41,20,69,1);
    border-bottom: 3px solid grey;
}

.logo {
    cursor: pointer;
    width: 180px;
    height: 116px;
    /*background-image: url("media/Stock_Golf_Logo.jpeg");
    background-color: rgba(41,20,69,1);
    background-blend-mode: multiply;*/
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.underline {
    display: inline-block;
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b2dd4c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* ANNOUNCMENT BANNER */

.image-display {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url("media/Golf_Course.jpg");
    background-size: cover;
}

.button-container-left,
.button-container-right {
    position: relative;
    padding-top: 250px;
}

.button-container-right {
    float: right;
    padding-right: 5%;
}

.button-container-left {
    float: left;
    padding-left: 5%;
}

.left-button,
.right-button {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: 0s;
    box-shadow: -5px 5px 0 rgba(102, 255, 0, 0.8);
    cursor: pointer;
}

.left-button:hover,
.right-button:hover {
    box-shadow: -5px 5px 0 rgba(102, 255, 0, 1);
}

.left-button {
    transform: rotate(45deg);
}

.right-button {
    transform: rotate(225deg);
}


/* ANNOUNCMENT AND MESSAGES */

.announcment {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

div.announcment > p {
    color: #666666;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 20px;
}

div.announcment > h1 {
    color: #000;
    font-size: 38px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    background-color: #eeeeee;
    width: 100%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

div.title > p {
    color: #000;
    font-size: 38px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;  
}

.message {
    display: flex;
    background-color: #eeeeee;
    width: 100%;
    padding: 3%;
}

div.message > p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #666666;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 25px;
}










/*
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088A9
}
*/

/*
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
*/