@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ANNOUNCMENT BANNER */

.image-display {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url("/media/photos/Golf_Course.jpg");
    background-size: cover;
}

.button-container-left,
.button-container-right {
    position: relative;
    padding-top: 250px;
}

.button-container-right {
    float: right;
    padding-right: 5%;
}

.button-container-left {
    float: left;
    padding-left: 5%;
}

.left-button,
.right-button {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: 0s;
    box-shadow: -5px 5px 0 rgba(102, 255, 0, 0.8);
    cursor: pointer;
}

.left-button:hover,
.right-button:hover {
    box-shadow: -5px 5px 0 rgba(102, 255, 0, 1);
}

.left-button {
    transform: rotate(45deg);
}

.right-button {
    transform: rotate(225deg);
}

#progress-bar {
    position: absolute;
    width: 0%;
    height: 10px;
    bottom: 0;
    background-color: rgba(0, 255, 0, 0.73);
}


/* ANNOUNCMENT AND MESSAGES */

.announcment {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

div.announcment > p {
    color: #666666;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 20px;
}

div.announcment > h1 {
    color: #000;
    font-size: 38px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    background-color: #eeeeee;
    width: 100%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

div.title > p {
    color: #000;
    font-size: 38px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;  
}

video {
    float: left;
    margin-right: 20px;
}

.message {
    background-color: #eeeeee;
    width: 100%;
    padding: 3%;
    overflow: auto;
}

div.message > p {
    color: #666666;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 25px;
}










/*
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088A9
}
*/

/*
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
*/